/* Color Scheme:
 * #008AAF Blue (Munsel)
 * #EFF0F2 Anti-Flash White
 * #2A2438 Gunmetal
 * #2393E5 Bleu de France
 * #3E483C Rifle Green
 */

html {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

#main {
  background-image: url("http://imgur.com/cZ2QmzD.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
}

.nav-items {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-right: 20px;
}

.nav-items a {
  color: #EFF0F2;
}

.nav-items .active {
  border-bottom: 2px solid #EFF0F2;
}

.nav-item {
  margin: 10px 20px;
  font-size: 15pt;
  border-bottom: 2px solid rgba(0,0,0,0);
}

.nav-item:hover {
  border-bottom: 2px solid #EFF0F2;
}

.header {
  margin: 25px 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  padding-left: 25px;
}

.logo-sm img {
  height: 60px;
  width: 60px;
}

.logo-md img {
  height: 80px;
  width: 80px;
}

.title h2 {
  font-family: 'Cabin', sans-serif;
  font-size: 45px;
  font-weight: lighter;
  color: #2A2438;
}

input {
  display: none;
}

#hamburger-menu {
  position: relative;
  height: 45px;
  width: 60px;
  align-items: center;
  padding-right: 25px;
  padding-left: 15px;
  z-index: 100;
}

#hamburger-menu .hamburger {
  position: absolute;
  background-color: #2A2438;
  height: 5px;
  width: 50px;
  margin-top: 5px;
  margin-bottom: 5px;
}

#line1 {
  top: 0px;
}

#line2 {
  top: 15px;
}

#line3 {
  top: 30px;
}

.burger {
  top: 0;
  left: 100vw;
  height: 100vh;
  width: 25vw;
  background-color: rgba(40, 40, 40, 0.25);
  position: absolute;
  transition: left 1s ease;
  display: flex;
  flex-direction: column;
}

#toggle-menu:checked ~ div {
  left: 75vw;
}

.burger-options  {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 150px;
}

.burger-options .burger-item {
  padding: 25px 40px;
  font-family: 'Cabin', sans-serif;
  font-size: 30px;
  color: #2A2438;
}

.burger-options .burger-item:hover {
  background-color: rgba(40, 40, 40, 0.2);
}

.ellipse {
  position: absolute;
  top: 521px;
  left: 109px;
}

.ellipse a i {
  color: rgba(42, 36, 56, 1);
}

i.ellipse-dot {
  font-size: 2px;
  width: 4px;
  height: 4px;
  margin: -2px;
  background-color: rgba(42, 36, 56, 1);
}

.text {
  align-self: center;
  font-family: 'Rokkitt', serif;
  font-size: 35px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text h1 {
  color: #2A2438;
  margin: 10px;
}

.text .line {
  border-top: 5px solid #2A2438;
  width: 100px;
}

.text .dots {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0;
  height: 20px;
}

.text .dots .dotcontainer {
  height: 20px;
  width: 20px;
  margin: 0 15px;
}

.text .dots .dotcontainer .dot {
  background-color: #2A2438;
  height: 8px;
  width: 8px;
  border-radius: 100%;
  transition-duration: 0.5s;
  margin-top: 6px;
  margin-left: 6px;
}

.text .dots .dotcontainer .active {
  height: 12px;
  width: 12px;
  margin-top: 4px;
  margin-left: 4px;
}

.button {
  align-self: center;
}

.button button {
  margin-bottom: 20vh;
  border: 3px solid #EFF0F2;
  border-radius: 7px;
  width: 160px;
  height: 70px;
  background: none;
  background-color: rgba(#EFF0F2, 0.0);
  color: #EFF0F2;
  font-family: 'Cabin' sans-serif;
  font-size: 30px;
  transition-duration: .5s;
}

.button button:hover {
  background: rgba(240, 241, 242, 0.5);
  transform: scale(1.05);
}

.portfolio {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #EFF0F2;
  font-family: 'Cabin', sans-serif;
}

.background {
  position: absolute;
  height: 1800px;
  width: 120%;
  z-index: -999;
  background: linear-gradient( rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) ), url("http://imgur.com/cZ2QmzD.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
}

.portfolio-header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.portfolio-header h1 {
  font-size: 40pt;
}

.portfolio-header p {
  font-size: 20pt;
}

.score-link {
  color: #EFF0F2;
  transition-duration: 0.5s;
}

.score-link:hover {
  color: rgb(56, 104, 249);
}

.portfolio-header a {
  color: #EFF0F2;
  transition-duration: 0.5s;
}

.portfolio-header p a:hover {
  color: rgb(56, 104, 249);
}

.portfolio .line {
  border-top: 5px solid #EFF0F2;
  width: 300px;
}

.portfolio-item {
  margin-top: 60px;
  margin-bottom: 20px;
  width: 80vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.music {
  width: 60vw;
}

.portfolio-item .thumbnail img {
  height: 300px;
  width: 500px;
  margin: 30px;
}

.portfolio-item .description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: 30px;
}

.portfolio-item .description h2 {
  font-size: 25pt;
}

.portfolio-item .description p {
  font-size: 15pt;
}

.contact-options {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

.contact-options p {
  font-size: 16pt;
}

.contact-options ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  width: 20vw;
}

.contact-options ul li {
  list-style-type: none;
  font-size: 18pt;
  transition-duration: .5s;
}

.contact-options ul li:hover {
  transform: scale(1.2);
}

.contact-options ul li a {
  color: #EFF0F2;
}

.contact-background {
  height: 100%;
}
